[2019-10-07 20:43] armenzg opened #5457 "Re-enable camelcase linting rule"
Removing [this line](https://github.com/mozilla/treeherder/blob/master/.eslintrc.js#L28) will require touching code in lots of other files.

[2019-10-08 02:55] rbrishabh commented on #5457
Hey! Can I take this up? :)

[2019-10-08 12:47] armenzg commented on #5457
Go for it!

[2019-10-08 15:32] Shivansh2407 commented on #5457
@armenzg Can I take up this issue? Please explain me a bit about this too

[2019-10-08 16:38] armenzg commented on #5457
I can open few more issues like this so you can all work on different ones.
One for each rule.

@rbrishabh let me open few more

For the record, there's more to this than removing the rule. The tests also need to pass.

@Shivansh2407 run `yarn lint` to see what needs fixing.

[2019-10-08 16:40] armenzg opened #5469 "Re-enable few linting rules - batch #1"
Remove these [lines](https://github.com/mozilla/treeherder/blob/master/.eslintrc.js#L29-L31):
[code]
and make sure `yarn lint` passes before opening a PR.

Thanks!

[2019-10-08 16:41] armenzg opened #5470 "Re-enable few linting rules - batch #2"
Remove these [lines](https://github.com/mozilla/treeherder/blob/master/.eslintrc.js#L32-L34):
[code]
and make sure `yarn lint` passes before opening a PR.

Thanks!

[2019-10-08 16:41] armenzg opened #5471 "Re-enable few linting rules - batch #3"
Remove these [lines](https://github.com/mozilla/treeherder/blob/master/.eslintrc.js#L36-L38):
[code]
and make sure `yarn lint` passes before opening a PR.

Thanks!

[2019-10-08 16:42] armenzg opened #5472 "Re-enable few linting rules - batch #4"
Remove these [lines](https://github.com/mozilla/treeherder/blob/master/.eslintrc.js#L39-L45):
[code]
and make sure `yarn lint` passes before opening a PR.

Thanks!

[2019-10-08 16:46] armenzg commented on #5457
@rbrishabh I have not yet marked these issues as "good first issues" so you can pick first:
https://github.com/mozilla/treeherder/issues

Thank you both for your help!

[2019-10-08 16:56] rbrishabh commented on #5469
Hey @armenzg!

Thank you! I will take this up! =)

[2019-10-08 16:57] rbrishabh commented on #5457
@Shivansh2407 That's okay man. Go ahead and work on this one! Good luck =)

[2019-10-08 18:45] armenzg commented on #5469
👍

[2019-10-10 04:28] HackyRoot commented on #5472
I'd like to work on this issue.

[2019-10-10 04:29] HackyRoot commented on #5471
I'd like to work on this issue.

[2019-10-10 12:24] armenzg commented on #5471
Hi @HackyRoot
Thanks for your help!

Please tackle this one first and then feel free to take on issue #5472
Approaching it this way would allow other contributors to also have a chance to take that one in case you're still working on this one.

[2019-10-10 12:25] armenzg commented on #5472
As I mentioned on #5471 let's tackle that one first. Thanks!

[2019-10-12 14:27] SubhrajyotiSen commented on #5472
Can I pick this one up?

[2019-10-14 15:42] Shivansh2407 commented on #5470
Would like to work on this issue @armenzg

[2019-10-15 13:57] armenzg commented on #5472
@SubhrajyotiSen thanks for the [PR](https://github.com/mozilla/treeherder/pull/5513); would you mind looking into making `yarn lint` work?
You can see that [Travis](https://travis-ci.org/mozilla/treeherder/builds/597763143?utm_source=github_status&utm_medium=notification) is failling.

[2019-10-15 14:06] armenzg commented on #5470
@Shivansh2407 go ahead; remember to fix `yarn lint` before opening a PR.

Thank you!

[2019-10-16 04:48] HackyRoot commented on #5471
Hi @armenzg,
Sorry I've been MIA for the last couple of days. Talking about solving this issue, after removing given lines from `.eslintrc.js`, I'm getting 138 errors; should I update the codebase according to updated lint rules?

[2019-10-16 12:02] armenzg commented on #5471
Correct. That's the idea.

Thanks!

[2019-10-16 17:44] VCDmoose commented on #5471
Is this open to be picked up? I would like to give it a shot.

[2019-10-16 17:56] armenzg commented on #5471
Hi @VCDmoose at the moment @HackyRoot is looking into it.

You can try issue #5469 since I have not seen the contributor do anything in over a week.

[2019-10-16 18:01] VCDmoose commented on #5469
I can look into this.

[2019-10-16 18:14] rbrishabh commented on #5469
Hey! @VCDmoose, I'm almost done with this. I'll be putting up a PR today! :)

[2019-10-16 19:36] armenzg commented on #5457
@Shivansh2407 any progress?
If you won't have a PR in a while let's see if @VCDmoose could help here. Thanks!

[2019-10-16 19:40] armenzg commented on #5471
@HackyRoot remember you can try `yarn lint --fix` and see what gets fixed.

If 138 lines are too many at once you can knock off one rule at a time. That way it will mentally feel like less work.

[2019-10-17 17:57] armenzg opened #5524 "Remove ElasticSearch code"
Once upon a time we had an ElasticSearch add-on, however, we don't have it for a while.

Before you tackling this issue, check with me.
I'm waiting to see if someone will raise an objection in [here](https://groups.google.com/forum/#!topic/mozilla.tools.treeherder/-Dgulh0-Tng).

You can see some of the code that will need removing in [here](https://github.com/mozilla/treeherder/search?q=ElasticSea

[2019-10-18 05:27] HackyRoot commented on #5471
Hi @armenzg,
I got stuck with an issue, can you please help me with this?
- Replacing `idx++` with `idx += 1` in arrow function `(acc, name) => ({ ...acc, [name]: (idx += 1) })` gives me error: `Arrow function should not return assignment.`.

[2019-10-18 13:41] armenzg commented on #5471
@HackyRoot feel free to open a PR even if not ready. It's easier to comment on the work in progress code rather than here.

I think you're referring to this [code](https://github.com/mozilla/treeherder/blob/c58badbe608cdf287ed52679870115f886ac7e7a/ui/job-view/details/tabs/TabsPanel.jsx#L74):
[code]

Maybe try one of these ideas:

* `(acc, name) => { ...acc, [name]: idx += 1 },` (notice the curly b

[2019-10-25 21:41] sh0aibsha1kh commented on #5524
Hi Armen, can I take this bug?

[2019-10-26 04:21] peterchou3788 commented on #5457
Hello armenzg!
Is this issue still open? I would like to work on it if possible.

[2019-10-28 13:09] armenzg commented on #5524
Please do so. Thanks!

[2019-10-28 13:10] armenzg commented on #5457
@peterchou3788 Feel free to grab it. Make sure `yarn lint` works before opening a PR.

[2019-10-31 05:21] eralwen commented on #5457
Can I tackle this issue if this is open? Are you just removing this line from the line and fixing all the errors that arise?

[2019-10-31 13:20] armenzg commented on #5457
@eralwen that's correct. Feel free to grab as I have not heard back from anyone else.

[2019-11-08 16:54] armenzg commented on #5457
@eralwen thanks for trying!

[2019-11-08 21:33] MusaTalluzi commented on #5457
@armenzg I see eralwen closed his PR, can I grab it?

[2019-11-09 05:00] djmitche opened #5617 "404's fetching actions.json reported strangely"
If a decision task's `actions.json` is not found, for example because the task exists in a different TC deployment or has expired, then TH seems to say "Wrong version of actions.json, unable to continue" which is a bit misleading.  I suspect this is happening because the fetch is not converting the 404 into a rejected Promise, but rather returning it as a regular response.  The code in `ui/models/

[2019-11-10 00:58] djmitche opened #5621 "link to worker from task details links to lists of workers for worker pool because url misses worker pool id"
From @Archaeopteryx in https://github.com/taskcluster/taskcluster/issues/1937

---

1. Go to Treeherder https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&resultStatus=success%2Ctestfailed%2Cbusted%2Cexception&classifiedState=unclassified&searchStr=windows%2Cbuild
2. Click on a running or finished task.
3. At the bottom left, click on the task id link next to `Task`.
4. On the right, click

[2019-11-10 00:59] djmitche commented on #5621
Note that the missing `aws` is in fact the workerGroup, not part of the workerPoolId.

[2019-11-10 01:01] djmitche commented on #5621
Oh, I'm totally wrong.

[2019-11-10 01:01] #5621 closed

[2019-11-12 14:03] armenzg commented on #5457
@MusaTalluzi you may; try to see if you can re-use what he had working. Thank you!

[2019-11-12 15:36] #5457 closed

[2019-11-12 16:26] #5524 closed

[2019-11-12 20:42] armenzg commented on #5617
This issue cannot be completely tested by contributors unless you can sign in with [Auth0](https://sso.mozilla.com)

Steps to reproduce:

* https://treeherder.mozilla.org/#/jobs?repo=mozilla-release&revision=964ff679f60d09e43df069a49f48500d1010e13d
* Sign in with your LDAP
* Click on 'Add new jobs'

I've actually received a different error message.

You will get this message instead of a prompt:

[2019-12-05 18:32] armenzg opened #5721 "Clear test warnings for Filtering_test.jsx"
This is the warngs we get:
[code]

[2019-12-08 03:50] Manish-Giri commented on #5721
I'd like to work on this...

[2019-12-09 14:31] armenzg commented on #5721
Hi @Manish-Giri go for it! Thanks!

[2019-12-10 13:49] armenzg commented on #5470
Closing linting issues since they have the risk of introducing regressions without very careful testing.

[2019-12-10 13:49] #5470 closed

[2019-12-10 13:49] armenzg commented on #5471
Closing linting issues since they have the risk of introducing regressions without very careful testing.

[2019-12-10 13:49] #5471 closed

[2019-12-10 13:49] armenzg commented on #5472
Closing linting issues since they have the risk of introducing regressions without very careful testing.

[2019-12-10 13:49] #5472 closed

[2019-12-12 07:49] Manish-Giri commented on #5721
@armenzg After some digging, I have the following updates -

1. The first warning about `undefined prop children` goes away if I wrap the additional content in children of `SplitPane` in `job-view/App.jsx` after the first `div`-
https://github.com/mozilla/treeherder/blob/fc1e660053b4c636d0820ec44b9475518263db76/ui/job-view/App.jsx#L376-L385
 in another `div`, like so -
[code]

2. The second warnin

[2019-12-12 15:30] armenzg commented on #5721
For point 1, would a React fragment do the trick? Go head with part 1.

With regards to react-hot-keys major update is because it breaks the normal behaviour of a hot key scenario.

In this page you can read the manual test case #8 :
https://treeherder.readthedocs.io/testcases.html#treeherder

You can easily test it on this page:
https://treeherder.allizom.org/#/jobs?repo=autoland

Upgrading the p

[2019-12-21 04:54] Manish-Giri commented on #5721
@armenzg Thank You for the confirmation. I used React Fragment and created a PR for  Part 1.

For Part 2, about the `react-hotkeys` major version update, I also feel it needs more in-depth investigation and looking at the release docs, so it would probably be a good idea to create a separate issue about this, and track all the details there. Using version 2 also creates a console error in `Filteri

[2019-12-23 14:47] armenzg opened #5786 "Upgrade to react-hotkeys"
Upgrading `react-hot-keys` requires some work. When I landed it back in the day it broke the UI. [Manual test case #8](https://treeherder.readthedocs.io/testcases.html#treeherder) is the one that covers it.

[2019-12-23 14:48] armenzg commented on #5721
I've filed issue #5786 for the upgrade. It would be great if you could tackle it. Thank you!

PS: We will all be out until Jan. 2nd.

[2019-12-23 14:50] armenzg commented on #5721
Thank you for the PR!

If I got it right I believe this is the first Treeherder code landing.
Congratulations! 🎉

[2019-12-26 09:49] Manish-Giri commented on #5721
@armenzg Thank You! This was indeed my first contribution to Treeherder!

I'll get started with #5786.

[2020-01-08 18:20] armenzg opened #5807 "Properly parallelize the manual ingestion code"
I created a management ingestion code for local development that can ingest all tasks for a push and insert them into the DB.

The code I wrote uses asyncio, however, it does not properly paralelize the process. The way it executes it first prepares each individual task for insertion and it then handles all insertions at once. There's the odd DB insertion while the first part happens.

Here's the

[2020-01-14 15:36] dinolinjob commented on #5807
Can I work on this @armenzg ?  If yes, how should i proceed further.

[2020-01-14 17:33] armenzg commented on #5807
Hello @dinolinjob I mislabeled the issue since I don't know how to solve it, thus, it requires you to research how to write parallelized code.

If you're still interested you can follow these steps:

- Checkt out the code
- Run `docker-compose up`
- On another terminal `docker-compose run backend bash`
- Inside of such container run & watch the output of the following command: `./manage.py ingest

[2020-01-17 14:10] parshva-b commented on #5786
Hey, @armenzg  I would like to **claim this issue** as my first contribution, would appreciate some guidance or referral docs to help me set up the environment.

[2020-01-17 14:46] armenzg commented on #5469
If anyone is still interested on this please let me know and I will re-open.

[2020-01-17 14:46] #5469 closed

[2020-01-17 14:47] armenzg commented on #5617
I will close this as I assume it does not happen easily. Please re-open if it's still happening.

[2020-01-17 14:47] #5617 closed

[2020-01-17 14:48] armenzg commented on #5786
Hi @parshva-b
I just fixed this issue in the last few days: https://github.com/mozilla/treeherder/pull/5820

You can make other contributions like clearing a warning at a time from the test runs:
https://travis-ci.org/mozilla/treeherder/jobs/638326849
Or to increase the project's code coverage.

[2020-01-17 14:48] #5721 closed

[2020-01-18 01:06] klahnakoski opened #5841 "Disable lint checks or provide a command to auto-fix all of them"
My PRs include hours devoted to lint fixes.  Let's provide a way to autofix all lint errors, and disable any lint fixes that can not be auto-fixed.

Passing operational tests should be the only requirement.

[2020-01-20 17:38] klahnakoski commented on #5841
https://bugzilla.mozilla.org/show_bug.cgi?id=1610346

[2020-01-20 17:38] #5841 closed

[2020-01-20 18:35] armenzg commented on #5786
Hi @parshva-b
I thought I had fixed this issue, however, I was wrong.
If you're still interested please let me know.

You can see in this video how the feature is broken:
https://bug1610350.bmoattachments.org/attachment.cgi?id=9121881

Once the user pressed the 'U' letter on their keyboard they should have only seen the jobs saying 'wpt16'.
If you go to https://treeherder.mozilla.org/#/jobs?repo=a

[2020-01-21 07:36] jaskeerat789 commented on #5786
![Screenshot from 2020-01-21 13-04-10](https://user-images.githubusercontent.com/38110126/72784357-a3b6c000-3c4e-11ea-8767-e004f0cc0717.png)
so you are saying that the screen should show only the jobs saying "GTest" when the user presses U on the keyboard...
I think i can work on this...

[2020-01-21 16:43] parshva-b commented on #5786
@armenzg I can work on this issue, can it be assigned?
Can you link to dev docs?

[2020-01-21 17:04] armenzg commented on #5786
@jaskeerat789 We will continue with @parshva-b due to first contact.

@parshva-b go ahead and work on it. https://treeherder.readthedocs.io
Let's assume it is assigned to you.

[2020-01-21 20:42] armenzg opened #5853 "Add Python test coverage"
Shubhank is interested on taking this.

[2020-01-21 20:42] armenzg commented on #5853
@shubhank-saxena ^

[2020-01-21 20:44] shubhank-saxena commented on #5853
On it! @armenzg

[2020-01-21 21:35] armenzg commented on #5853
Hi @shubhank-saxena
We currently only report Javascript test coverage on https://codecov.io/gh/mozilla/treeherder

Would you mind investigating what it would take to also report the Python test coverage?
Not sure if the two can distinct languages can be reported together.

You can probably fork this repo and create your own account for Travis and codecov. The Travis results are submitted to codeco

[2020-01-22 11:15] shubhank-saxena commented on #5853
Hello @armenzg
With my initial inspection and understanding of codecov, we definitely can split all of our Travis Tests in frontend and backend, and then can write codecov yaml file according to the language that needs to be parsed.
So that means, we are just evaluating the frontend(react) and reporting it to codecov. We can now label and split our entire project in frontend and backend, and write

[2020-01-22 19:27] armenzg commented on #5786
Keeping in here the comment I made in ths PR

Start the app with `yarn start:stage` (this will give you a lot of jobs that are not classified - i.e. orange jobs without a star) and load this url: http://localhost:5000/#/jobs?repo=mozilla-central&revision=be3a05f615a557fd4c5171f789cc460688d9c3b8

Correct behaviour (no matter how many times I press U we will only see the R2 job):
![Screen Recording

[2020-01-22 21:54] shubhank-saxena commented on #5853
@armenzg I have tried various ways to flush the xml file to codecov repo, but this error keeps popping up. This looks like some issue in the responses library. Any suggestions to work around this?

![Screenshot from 2020-01-23 03-15-23](https://user-images.githubusercontent.com/29003047/72937226-bc2df400-3d8e-11ea-9014-979a4c8dea47.png)

[2020-01-22 21:59] shubhank-saxena commented on #5853
This is my modified travis.yml file for running python-tests-main
![Screenshot from 2020-01-23 03-28-10](https://user-images.githubusercontent.com/29003047/72938201-8be75500-3d90-11ea-9059-aa4ca1a2fe68.png)

[2020-01-23 19:25] armenzg commented on #5853
Try this:
[code]

Notice that you tried running pytest outside of the docker container and you use Python 2.7 rather than Python 3

[2020-01-23 19:51] armenzg commented on #5853
I can't see [this image](https://user-images.githubusercontent.com/29003047/72938201-8be75500-3d90-11ea-9059-aa4ca1a2fe68.png) anymore.

Modify requirements/dev.txt instead of adding `pip install` lines.

[2020-01-23 19:57] shubhank-saxena commented on #5853
Okay! Let me correct it

[2020-01-23 20:02] shubhank-saxena commented on #5853
How do you add hash values along with the requirements in requirements/dev.txt @armenzg ?

[2020-01-23 20:05] armenzg commented on #5853
It's a pain of a process.

Enter into the container (`docker-compose run backend bash`), change the version in the file, run `pip install -r requirements/dev.txt` and it should fail saying that the hashes don't match *and* you will see the two hashes compared. Grab the one that is not found in the requirements file.

[2020-01-23 20:57] shubhank-saxena commented on #5853
Got one hash value. Re-run the code. Got an error along with another hash value. Appended it and re-run. Still got the issue. Am I doing anything wrong in this?
![Screenshot from 2020-01-24 02-22-43](https://user-images.githubusercontent.com/29003047/73023188-feb80500-3e50-11ea-8be1-edd355bfa93c.png)
![Screenshot from 2020-01-24 02-22-58](https://user-images.githubusercontent.com/29003047/73023192

[2020-01-23 21:10] shubhank-saxena commented on #5853
codecov==2.0.15 \
   --hash=sha256:ae00d68e18d8a20e9c3288ba3875ae03db3a8e892115bf9b83ef20507732bed4 \
   --hash=sha256=d649dc0bcace6fcdb446ae02b98798a856593b19b637c1b9af8edadf2b150bea
`

[2020-01-23 21:35] armenzg commented on #5853
Would you be able to start a PR? It's easier for me to see what your work in progress looks like. You can create it as a Draft PR to indicate that is not ready to be reviewed.

Also notice that you will need to add the whole hierarchy of packages with their hashes.

[2020-01-23 21:47] shubhank-saxena commented on #5853
Started the draft PR. This is the commit
https://github.com/mozilla/treeherder/pull/5860/commits/2c3fbd53421075b839d2c9e2e787c42dbb8763be

[2020-01-25 01:54] Shivansh2407 opened #5874 "Fix unit test: test_retry_missing_revision_succeeds"
BugZilla Link : https://bugzilla.mozilla.org/show_bug.cgi?id=1307289
This is a bug in the project which needs to be fixed. I am willing to work on it. @armenzg and @klahnakoski Please guide me on how to proceed with this .

[2020-01-25 09:36] Shivansh2407 opened #5876 "The trees tabs are displayed weirdly on Google Chrome"
Bugzilla Link : https://bugzilla.mozilla.org/show_bug.cgi?id=1478517

[2020-01-25 11:17] klahnakoski commented on #5874
@Shivansh2407  Thank you for tackling this!  I assume you are able to pass the current test suite locally.  I also assume you can run just one test at a time locally.  Yes?  If not, then I can help you there.

The first step takes time:  Remove the `@pytest.mark.skip` line and set a breakpoint on the first line of the test.  Then step through it until you understand what it is trying to test.  Hop

[2020-01-25 11:51] Shivansh2407 commented on #5874
Yes @klahnakoski please help me out with running the test one at a time locally.

[2020-01-25 12:35] klahnakoski commented on #5874
@Shivansh2407 Can I assume you have a IDE for coding and debugging?  If not then use PyCharm.

Step through these instructions, and tell me where you get blocked.
https://github.com/klahnakoski/treeherder/blob/debug/tests/README.md

[2020-01-25 12:36] Shivansh2407 commented on #5874
Thank You sir will do it and let you know .

[2020-01-25 12:36] klahnakoski commented on #5874
... maybe you are missing instructions that precede those... Let me find the setup docs...

[2020-01-25 12:38] klahnakoski commented on #5874
Here are the setup docs:

https://treeherder.readthedocs.io/installation.html#server-and-full-stack-development

The only thing you should need for this backend work is to fork-and-clone the git repo, and install docker/docker-compose

[2020-01-25 12:41] klahnakoski commented on #5874
Since my instructions assume my PR is already merged (which it is not), it will be missing the scripts to set the environment variables.   Here is the PR, so you can cut-and-paste

https://github.com/mozilla/treeherder/pull/5716/files#diff-2fbd99a248bc77b50b89bde69cc4332e

[2020-01-25 12:46] klahnakoski commented on #5874
Nope, I was wrong again.  My PR is more than just docs, it also opens up the ports on the docker images so things work.   It is best to start with my `debug` PR and work off of that.  Once you have something working, we can rebase to treeherder master

Ensure you are on clean `master

[code]

you can then merge your work into your local debug branch

[2020-01-27 10:00] Shivansh2407 opened #5886 "Remove NoOpSerializer from serializers.py"
BugZilla Link : https://bugzilla.mozilla.org/show_bug.cgi?id=1444093

This issue states to remove NoOpSerializer from serializers.py .

[2020-01-29 01:34] Shivansh2407 commented on #5876
Status: NEW → RESOLVED
Closed: 7 hours ago
Resolution: --- → FIXED
https://bugzilla.mozilla.org/show_bug.cgi?id=1478517
Bug Fixed :)

[2020-01-29 01:35] #5876 closed

[2020-01-29 01:38] Shivansh2407 commented on #5886
Please review @camd , @armenzg , @klahnakoski .

[2020-01-29 01:39] Shivansh2407 commented on #5874
Sir can you please guide me further on this?

[2020-01-29 01:56] Shivansh2407 commented on #5841
Can I work on this if possible?

[2020-01-29 13:32] armenzg commented on #5886
Please try to ask review of only one reviewer at a time. If we don't get back to you within a business day you can ask again or ask one more person.
You can look at the blame or history of a file to determine who.

[2020-01-29 14:27] Shivansh2407 commented on #5886
Ok @armenzg Sir

[2020-01-29 14:59] #5886 closed

[2020-01-31 19:33] armenzg commented on #5853
For anyone watching this is going very well.

[2020-01-31 19:52] armenzg opened #5912 "Minimum UI coverage"
Changes:
- A PR should not be merged if it drops the UI test coverage below 40%
- The [relative coverage change](https://docs.codecov.io/docs/codecov-delta#section-relative) should be greater than 0%
  - This means that new lines added are at least somewhat covered; that way we force ourselves to at leat try to write some tests

As always, administratros can still force a merge if needed.

[2020-01-31 21:08] shubhank-saxena commented on #5912
I would love to take up this @armenzg

[2020-02-01 04:37] menarulalam commented on #5807
Hey @armenzg , I'm going to try to work on this over the weekend.

[2020-02-01 11:21] shubhank-saxena commented on #5912
So is the requirement in form of a Github bot?

[2020-02-01 12:31] shubhank-saxena commented on #5912
@armenzg
https://github.com/mozilla/treeherder/pull/5914

[2020-02-01 13:24] klahnakoski commented on #5874
@Shivansh2407   how about you keep this PR open until https://github.com/mozilla/treeherder/pull/5716/  gets merged so it is easier to run tests locally, @camd is very busy.

[2020-02-02 00:52] michaelhly commented on #5807
Hi @armenzg. Here is my PR for this issue #5915 .

[2020-02-03 17:03] #5853 closed

[2020-02-03 19:12] armenzg commented on #5874
You can run the test by following these steps:

[code]

You don't need to wait for that PR to land first.

[2020-02-03 19:28] shubhank-saxena commented on #5912
@armenzg cleaned everything. New issue-
#5922

[2020-02-04 15:41] armenzg opened #5926 "Initialize some defaults for local development"
In [this PR](BROKER_URL=localhost//guest:guest@rabbitmq//;DATABASE_URL=mysql://root@localhost:3306/treeherder;REDIS_URL=redis://localhost:6379;SITE_URL=http://backend:8000/;TREEHERDER_DEBUG=True;TREEHERDER_DJANGO_SECRET_KEY=secret-key-of-at-least-50-characters-to-pass-check-deploy;NEW_RELIC_DEVELOPER_MODE=True), there are a bunch of env variables that are manually set up:

Let's set up these defau

[2020-02-04 16:25] shubhank-saxena commented on #5926
Would love to give it a whirl @armenzg

[2020-02-04 16:29] armenzg commented on #5926
Assigned! Thanks!

[2020-02-05 04:39] jaskeerat789 commented on #5786
@parshva-b are you still working on this?

[2020-02-05 19:48] shubhank-saxena commented on #5926
@armenzg
PR #5942

[2020-02-06 11:10] parshva-b commented on #5786
@jaskeerat789, I seem to be busy at the moment, feel free to work on it.

[2020-02-09 15:43] govardhan27 commented on #5786
Hey am gonna take up this task

[2020-02-10 09:11] jaskeerat789 commented on #5786
@govardhan27 I am already working on it sir...

[2020-02-10 14:17] govardhan27 commented on #5786
@jaskeerat789 alright!
Let me know if you need any help.

[2020-02-10 15:32] jaskeerat789 commented on #5786
ya sure

[2020-02-10 19:38] shubhank-saxena commented on #5926
Issue #5982

[2020-02-14 14:20] choller opened #6015 "Recognize ThreadSanitizer "nested bug" abort"
Whenever ThreadSanitizer hits a bug while handling a bug, it emits the following messages:

[code]

It then terminates without a `SUMMARY`, so this condition is not recognized properly by Treeherder. I will add this particular message so sheriffs can more easily star this as intermittent.

[2020-03-06 15:16] armenzg opened #6109 "Use poetry to serve documentation"
The steps to set up the docs is in [here](https://treeherder.readthedocs.io/common_tasks.html#serving-the-docs-locally).

Use `poetry` to create a venv and easily serve the docs.

[2020-03-06 15:17] armenzg commented on #6109
@shubhank-saxena is working on this.
https://github.com/mozilla/treeherder/pull/6067

[2020-03-06 15:17] armenzg opened #6110 "Auto delete Pulse queues"
[bug 1607561](https://bugzilla.mozilla.org/show_bug.cgi?id=1607561)

When a Heroku Review App is deleted the Pulse consumers are destroyred but the Pulse Guardian queues keep growing until they get deleted. Meanwhile, we receive an email alerting us about it and another one when the queue is deleted.

This will also be important for local consumption.

We would like to auto-destroy the queues when

[2020-03-06 15:19] armenzg commented on #6110
@SuyashSalampuria is working on this.

[2020-03-06 15:21] armenzg opened #6111 "Prevent linting issues on Travis"
In `runtests.sh` we execute `flake8` and `isort`. Unfortunately, a lot of errors are only caught on Travis which require multiple interruptions to development & review.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1610346

[2020-03-06 15:23] armenzg commented on #6111
This was accomplished by @shubhank-saxena 🎉

[2020-03-06 15:23] #6111 closed

[2020-03-06 15:24] armenzg opened #6112 "isort does not behave the same within pre-commit context"
This means that pre commit checks complain in one way while `isort` inside of the Docker container complains about other issues.

I'm investigating this as it is quite painful.

[2020-03-10 14:02] #6109 closed

[2020-03-11 20:37] shubhank-saxena opened #6136 "isort needs to have enabled with git add ."
@armenzg
With the recent addition of pre-commit hooks, a file is modified by isort automatically. This creates another copy of file which automatically needs to go through ```git add .```
Need to add one running command

[2020-03-11 20:40] shubhank-saxena commented on #6136
![Screenshot from 2020-03-12 02-09-33](https://user-images.githubusercontent.com/29003047/76461804-9627e600-6406-11ea-951e-7b5a734f0432.png)

[2020-03-11 20:41] shubhank-saxena commented on #6136
![Screenshot from 2020-03-12 02-10-52](https://user-images.githubusercontent.com/29003047/76461887-bc4d8600-6406-11ea-8776-fbcf5046fe80.png)

[2020-03-12 13:27] armenzg commented on #6136
I just landed this on master:
https://github.com/mozilla/treeherder/pull/6134

It is expected to fix issues for you.

[2020-03-12 13:27] #6136 closed

[2020-03-18 15:59] SuyashSalampuria commented on #5786
If no one is working on it , I would like to take it up.

[2020-03-18 17:10] armenzg commented on #5786
Speak up if you're working on this, otherwise, let's leave room for other newcomers.

[2020-03-18 17:17] jaskeerat789 commented on #5786
I am not working on it!!!

[2020-03-18 17:31] SuyashSalampuria commented on #5786
I deleted my message with the same intention. It would be really good for new contributors.

[2020-03-23 17:39] imskr commented on #6112
@armenzg Can I take this issue?

[2020-03-23 19:19] shubhank-saxena commented on #6112
I am working on this issue. If you want, we can solve it together 😁

[2020-03-23 19:27] armenzg commented on #6112
I believe I managed to [fix](https://github.com/mozilla/treeherder/blob/master/.pre-commit-config.yaml#L10) running `isort` inside of a venv vs running it as part of Docker.

Nevertheless, I believe I never got pre-commit's isort to behave exactly as just running isort.

In the output below you will see that just running isort does not fix anything while isort within pre-commit touches all files.

[2020-03-23 19:27] shubhank-saxena commented on #6112
@imskr I am already working on it 😁

[2020-03-23 19:59] imskr commented on #6112
Is there any issue which I can work which is unassigned 😂 @shubhank-saxena you should get yourself assigned before working on any issue.

[2020-03-23 19:59] imskr commented on #6112
Please take only one issue at a time @shubhank-saxena

[2020-03-23 20:01] shubhank-saxena commented on #6112
We have actually had this conversation in the month beginning. The work goes in a given flow. And that's already discussed with the mentors. So, yeah, I work parallel to optimize

[2020-03-23 20:04] imskr commented on #6112
Then you should get yourself assigned so that other contributors don't get confused.

[2020-03-23 20:10] shubhank-saxena commented on #6112
Kindly refer to the chats in the Riots. Mentors are usually busy, so that's why we start the work, and mentor then allot us later
That's why, as I previously said, it's a good practice to ask first in the group, and then get yourself assigned

[2020-03-23 20:25] imskr commented on #6112
I understand your point but there are lots of messages in chat room. We can't read every single. Its better to atleast comment on the issue here that you are working :)  So that other don't get confused.

[2020-03-23 20:34] armenzg commented on #6112
Gentlemen,
Please take a moment to breath and before replying any further.

This was my fault. Please forgive me.

Please help me not to forget we assign an issue before working on it.

[2020-03-23 20:37] shubhank-saxena commented on #6112
@imskr will keep that in mind. Next time, just ask in the group. That will help! Apologies if I sounded rude at any point of time!

[2020-03-25 14:24] armenzg commented on #5926
This got fixed a while ago. Thanks!

[2020-03-25 14:24] #5926 closed

[2020-03-25 14:25] #6015 closed

[2020-03-25 17:47] armenzg commented on #5807
This got fixed on PR #5915

Unfortunately, there's a lot of warnings for code that will be deprecated soon and it's not actually that fast.

Instead, I want to shift back to ingesting sequentially by using Celerey queues. The ingestion script simply places the requests into the queue and we automatically start up the Celery consumption for pushes and tasks.

Automatic Celery consumption:
https://g

[2020-03-25 17:47] #5807 closed

[2020-03-25 18:40] #6110 closed

[2020-03-25 18:58] armenzg opened #6179 "Automatic local ingestion of data"
Currently we have two Pulse ingestion scripts and three Celery workers in the Procfile. Setting local ingestion requires starting the `backend` Docker container three times following [manual set up steps](https://treeherder.readthedocs.io/installation.html#running-the-ingestion-tasks).

I would like two more entries in the `docker-compose.yml` file for `pulse` and another one for the `celery` work

[2020-03-25 19:01] imskr commented on #6179
I would like to fix this 🔧

[2020-03-25 19:01] armenzg commented on #6179
@imskr has asked to work on this.

[2020-03-25 19:01] imskr commented on #6179
Thank you

[2020-03-25 20:01] armenzg opened #6181 "Merge both Pulse ingestion commands into one"
Currently we have two different commands to ingest Pulse data.

Let's merge the two as there's no good reason.

The PR will have to mention [bug 1530965](https://bugzilla.mozilla.org/show_bug.cgi?id=1530965) in one of the commits.

[2020-03-25 20:02] armenzg commented on #6181
There's this PR associated to it:
https://github.com/mozilla/treeherder/pull/6122

[2020-03-25 20:59] shubhank-saxena commented on #6112
Refer to the issue #6182

[2020-03-26 18:47] armenzg opened #6185 "Add check for valid Markdown syntax"
I believe nothing that prevents us from landing incorrect Markdown code.

We will need to execute this as part of the pre-commit checks as well as within Travis (probably `pre-commit run --all-files <some_markdown_lint_hook>`.

https://pre-commit.com/hooks.html

[2020-03-26 19:05] armenzg opened #6186 "Merge ingest_push into ingest management command"
Currently there's two scripts we should merge.

[2020-03-26 20:37] armenzg opened #6190 "Use tox to test similar Python scenarios as in Travis"
Let's first get tox to work locally. Once we're satisfied we can follow up with another PR to switch Travis to using it.

[2020-03-29 15:41] klahnakoski opened #6198 "isort broken inside docker container"
`./runchecks.sh` run inside the docker container is broken.  It appears to try and format all files:

it is still ignoring the `setup.cfg`

[code]

here is the output
[code]

[2020-03-29 16:22] shubhank-saxena commented on #6198
@klahnakoski would love to take on this issue. As far as the wrong sorting of imports, you may check this PR #6134 . Have added an isort.cfg to fix that

[2020-03-29 16:35] klahnakoski commented on #6198
I fetched master this morning.  The PR6134 is a pre-commit hook, which runs in a different environment, so is not related to this problem

[2020-03-29 20:56] klahnakoski opened #6200 "Tests do not pass insider the docker image"
Start the backend

    docker-compose exec backend bash

...and run the tests...

    pytest tests/ --ignore=tests/selenium --ignore=tests/extract

...which will fail.

Given the number of environment variable changes in the past quarter, I suspect some environment variables are missing.

[code]

[2020-03-30 18:04] armenzg commented on #6198
Could you please revert runchecks.sh and LICENSE.txt to their original state and point out what is the issue you're facing? I can't reproduce locally.

[code]

[2020-03-30 18:31] klahnakoski commented on #6198
in one window

[code]

in another window

[code]

[2020-03-30 19:00] armenzg commented on #6198
I discovered that the settings are being read but the `skip-glob` is not working as expected.

This is the diff based on this branch:
[code]

[2020-03-30 19:13] klahnakoski commented on #6198
as per @armenzg suggestion: https://github.com/mozilla/treeherder/pull/6199/commits/74a407d353955054b22515b3ab878a03f608a61d

[2020-03-30 19:21] klahnakoski commented on #6198
it does appear to work

[2020-03-30 19:21] #6198 closed

[2020-04-01 23:04] camd opened #6220 "Migrate Push Health to Mozci"
We have back-end python code that calculates whether tasks are intermittent or otherwise known failures.  But the work in `mozci` is better and more detailed.  So we should migrate to using that on the back-end.  We will likely post-process some of the data we getfrom `mozci` to format it in a way that is more conducive to Push Health's needs.

https://bugzilla.mozilla.org/show_bug.cgi?id=1626746

[2020-04-01 23:06] camd opened #6221 "Show cost associated with a push"
https://bugzilla.mozilla.org/show_bug.cgi?id=1612222

[2020-04-01 23:08] camd opened #6222 "Push health view lists force-termination of tests after known intermittent failures as a separate, to-be-fixed problem"
https://bugzilla.mozilla.org/show_bug.cgi?id=1618528

[2020-04-01 23:15] camd opened #6223 "Push health view lists xpcshell errors twice, including "Unexpected exception: NS_ERROR_ABORT""
https://bugzilla.mozilla.org/show_bug.cgi?id=1618524

[2020-04-01 23:17] camd opened #6224 "Must filter Builds metric for Parent failures"
https://bugzilla.mozilla.org/show_bug.cgi?id=1625998

[2020-04-01 23:17] camd opened #6225 "Connect Phabricator to Push Health"
Issue: https://github.com/mozilla/code-review/issues/330

The actual work here is likely just getting Phabricator to have the right link to Push Health

[2020-04-01 23:22] camd opened #6226 "Persist settings in URL:"
https://bugzilla.mozilla.org/show_bug.cgi?id=1609211

[2020-04-01 23:24] camd opened #6227 "Improve Expand/Collapse of each metric."
This is both for UX and for A11y
https://bugzilla.mozilla.org/show_bug.cgi?id=1603171

The fix for this issue is to make the buttons at the top of the page toggle open/close of each of the metrics.  Currently they only open, or scroll the metric into the frame.  The same button should also collapse the metric.

Later, we will not completely hide the metric, just collapse it down to the name only.

[2020-04-01 23:26] camd opened #6228 "Add New Relic instrumentation"
https://bugzilla.mozilla.org/show_bug.cgi?id=1612229

- [X] How many revisions do we show push health for
- [X] prior to clicking retrigger there were X need-inv.  After retrigger, there were Y need-inv.  Show that stat.

[2020-04-01 23:28] camd opened #6229 "Unsupported jobs section should show "similar" jobs. So you see when some of them are retriggered and running."
https://bugzilla.mozilla.org/show_bug.cgi?id=1611107

[2020-04-01 23:30] camd opened #6230 "Add more detail on confidence number for tests"
https://bugzilla.mozilla.org/show_bug.cgi?id=1611108

[2020-04-01 23:44] camd opened #6231 "Consider auto-retriggering of "Need Investigation" tests"
https://bugzilla.mozilla.org/show_bug.cgi?id=1606738

[2020-04-01 23:44] camd opened #6232 "Add link to health of parent/bash push in Github Repos"
Find the revision in mozilla-central from Git and provide that link.  Need to investigate if this assumption is accurate.

https://bugzilla.mozilla.org/show_bug.cgi?id=1612645

[2020-04-01 23:45] camd opened #6233 "Support for classifying jobs"
https://bugzilla.mozilla.org/show_bug.cgi?id=1601722

We are going to add a "Mark Investigated" feature which may handle this.  But this would still be applicable if the sheriffs wanted to use this view to classify jobs.  I don't think they will, though.

[2020-04-01 23:48] camd opened #6234 "Display classification info on hover for classified jobs"
https://bugzilla.mozilla.org/show_bug.cgi?id=1542806

[2020-04-02 19:24] camd opened #6244 "Implement Performance Metric"
https://bugzilla.mozilla.org/show_bug.cgi?id=1604324

[2020-04-02 19:27] camd opened #6245 "Compare pass/fail for manifests on other platforms"
See how many times the manifest ran for each failure on other platforms where it passed as well

[2020-04-02 19:28] camd opened #6246 "New Relic Heat Map of usage"
Add new relic client metrics to show heat map of people grouping, retriggering, sorting, etc…

[2020-04-02 19:58] camd opened #6247 "Use better colors rather than default red/green/yellow that are good contrast for a11y."
Use colors like `darker-info` etc.  May need to add more.

[2020-04-02 20:04] camd opened #6248 "Note duration of each Job and entire Push"
Show duration of each job.

When retriggering, tell user how much time will be spent on the jobs.

https://bugzilla.mozilla.org/show_bug.cgi?id=1612222

[2020-04-02 23:59] camd opened #6254 "Create clear regressions and unclear regressions in needs investigation section, we should split that"
https://bugzilla.mozilla.org/show_bug.cgi?id=1627088

[2020-04-03 00:17] camd opened #6255 "Rename "Known Intermittents" to "Known issues""

[2020-04-03 11:55] jmaher commented on #6247
https://bugzilla.mozilla.org/show_bug.cgi?id=1627228

[2020-04-03 13:50] #6185 closed

[2020-04-03 23:04] #6224 closed

[2020-04-06 15:19] #6255 closed

[2020-04-07 20:38] #6186 closed

[2020-04-07 21:10] armenzg commented on #6181
Completed! 🎉

[2020-04-07 21:12] armenzg commented on #6190
This will deprecate runtests.sh
Make sure that tox tests everything that runtests.sh executes.
Make sure that Travis calls tox rather than runtests.sh
This also solves the issue that runtests.sh does not execute on Windows.

[2020-04-08 18:25] armenzg opened #6283 "Execute pre-commit run --all-files"
Wait for https://github.com/mozilla/treeherder/issues/6190
and for https://github.com/mozilla/treeherder/pull/6277 to land.

The 2nd PR will actually fix the isort hook that causes a lot of files to be changed.

[2020-04-08 18:26] armenzg commented on #6112
It seems that `black` will be getting rid of `isort`.
https://github.com/mozilla/treeherder/pull/6277

[2020-04-08 18:26] #6112 closed

[2020-04-08 18:34] #6179 closed

[2020-04-08 18:34] armenzg commented on #6179
Good job @imskr !

[2020-04-08 18:42] armenzg commented on #6181
This got done thanks to @shubhank-saxena

[2020-04-08 18:42] #6181 closed

[2020-04-08 18:46] armenzg opened #6284 "More Pulse changes"
We now ingest Pulse messages by default on the Docker set up.

We need to change the default queue names to something unique to the user.

Otherwise, developer A and developer B start the docker set up and they will both be consuming from the "resulsets" and "tasks" queues:
https://github.com/mozilla/treeherder/blob/d2d54f857926ab29d0d82a9a47db5a88f90e3aac/treeherder/services/pulse/consumers.py#L1

[2020-04-08 20:34] escapewindow opened #6285 "add taskId to intermittent-failures.html"
Hi,

I'm wondering if we could add the taskcluster taskId, as well as a link, to the intermittent failures page.

My current workflow:
1. go to intermittent bug, where I want to view all the tasks that have been reported against this bug
1. open the intermittent bug filer comment(s)
1. click on the link, to see the intermittent failures
1. click on the `revision`, which brings me to a treeherder v

[2020-04-09 00:10] imskr commented on #6179
Thank you @armenzg

[2020-04-09 13:19] armenzg opened #6286 "Add prototype2 and treeherder-taskcluster-staging to whatsdeployed"
We currently only list the other 3 apps:
https://whatsdeployed.io/s/dqv/mozilla/treeherder

[2020-04-09 14:31] camd opened #6287 "Failure to load page when parent push not found"
https://bugzilla.mozilla.org/show_bug.cgi?id=1628718

[2020-04-09 18:07] shubhank-saxena commented on #6287
@camd can I give it a try?

[2020-04-09 19:17] camd commented on #6287
Yes, that sounds great.  Thank you!  I'll assign the bug to you.

[2020-04-09 19:29] armenzg opened #6290 "Remove deprecation warnings for manual ingestion"
Running `./manage.py ingest git-push` throws a bunch of warnings (not exclusive to this script).

Since we have Celery queues, we can simply removing the asyncio complexity and these warnings by not trying to do things with asynchronously:
https://github.com/mozilla/treeherder/commit/75dc375a9367a530824c7e4bf92b667068d55f33

e.g.
- taskcluster/aio/asyncutils.py:17: DeprecationWarning: The object s

[2020-04-09 20:04] armenzg opened #6291 "Ingesting a task without a push should create the push"
Currently, trying to ingest a task for a non-existent push fails with `treeherder.etl.exceptions.MissingPushException: No push found in autoland for revision 7c8adbf978a2e4478d2f0c214ef5523cbda3b74a for task OFkqJB4PQ_ultXc5a0dw0g`.

Instead of failing I would like us to place a request in the `store_pulse_pushes` queue and let it be process.

[2020-04-12 16:04] imrishabh18 commented on #6227
@camd Hey, should i take up this issue ?

[2020-04-13 14:11] armenzg opened #6304 "Docker: Only ingest data when DB points locally"
Some developers use DATABASE_URL to point to production databases when doing local development.

Automatic ingestion in the Docker set up can make the local set up ingest into the production systems.

Let's change the code so it only ingest if DATABASE_URL is pointing to localhost.

This is to handle the issues faced by camd in here:
https://github.com/mozilla/treeherder/pull/6295

[2020-04-13 20:25] armenzg commented on #6291
Hi Suyash,
I'm not entirely sure if we should fix this because there's some weird things that happen in our automatic ingestion. We listen to all sort of tasks from Taskcluster for projects that we don't actually show in the UI. I'm concerned we will create more issues.

My apologies if you've already been looking a lot into this!

[2020-04-13 20:25] #6291 closed

[2020-04-16 18:08] camd opened #6313 "Create summary component that shows in the Job-View if a user is looking at a single revision on try."
https://bugzilla.mozilla.org/show_bug.cgi?id=1630712

[2020-04-16 19:24] #6313 closed

[2020-04-16 19:33] camd opened #6315 "Infrastructure Compare Tool"
Create a diffing tool to do an A/B compare before and after an infrastructure change (like change in an OSX, Linux or Windows version).

[2020-04-16 19:52] #6228 closed

[2020-04-17 19:56] #6190 closed

[2020-04-21 20:12] #6284 closed

[2020-04-22 11:41] Archaeopteryx opened #6337 "documentation still mentions removed runchecks.sh for running python tests"
https://treeherder.readthedocs.io/testing.html still mentions runchecks.sh which got removed in #6194.

@shubhank-saxena can you also update the documentation, please?

[2020-04-22 11:43] shubhank-saxena commented on #6337
On it!

[2020-04-22 11:55] shubhank-saxena commented on #6337
Done!

[2020-04-22 15:15] #6337 closed

[2020-04-22 16:05] armenzg commented on #6283
🎉 Fixed!

[2020-04-22 16:05] #6283 closed

[2020-04-24 18:37] armenzg opened #6352 "Bug 1632946 - Support filtering for manifest-scheduled backfilled task"
https://bugzilla.mozilla.org/show_bug.cgi?id=1632946

Filing to track it in Kanban board.

[2020-04-29 15:10] AaronMT opened #6369 "Add Fenix to intermittent-failures.html for ui-test intermittents"
Hey folks,

I'm wondering if/how Fenix can be accomidated as a tree added to the intermittent-failures.html view (or perhaps some entirely different simplified page)?

The setup for Fenix is of course different than from what one would find in the other trees (issues on Github, labelling, and current manual process for filing intermittent failures).

https://treeherder.mozilla.org/#/jobs?repo=feni

[2020-04-30 14:46] gamilton211 commented on #6247
Hello, I am new to open source programming altogether. Can someone please guide me?

[2020-04-30 15:01] shubhank-saxena commented on #6247
Hello @gamilton211 ! To follow up the requirements of bug, kindly visit the above link posted by @jmaher . Also, kindly join the [Riot](https://medium.com/@armenzg/join-mozillas-new-chat-rooms-328693ceddb0) for disucssing further! Also for seeing what were the changes in *a11y*, you can check [This](https://github.com/mozilla/treeherder/projects/1)

[2020-04-30 20:18] sarah-clements commented on #6369
I'll address this on buzilla :)

[2020-04-30 20:18] #6369 closed

[2020-05-05 06:03] Anupam-USP commented on #6287
As it is written good first issue, may i try being a newbie?

[2020-05-05 06:36] Anupam-USP commented on #6247
Hello, as this is in good first issue, can I contribute into this as it seems familiar? Also can someone please help

[2020-05-12 19:33] armenzg commented on #5786
This is something that @camd is handling.
It was not easy after all.

[2020-05-12 19:33] #5786 closed

[2020-05-12 19:33] armenzg commented on #5874
It exists in Bugzilla let's close the issue here.

[2020-05-12 19:33] #5874 closed

[2020-05-12 19:34] armenzg commented on #5912
We landed this.

[2020-05-12 19:34] #5912 closed

[2020-05-12 19:37] armenzg commented on #6200
Things have changed a lot. So far that scenario is being tested.
If you see it again please let me know.

[2020-05-12 19:37] #6200 closed

[2020-05-22 20:44] #6287 closed

[2020-05-22 20:51] camd opened #6452 "Add API to treeherder to find which tests belong to which chunk, whether they pass or fail."
https://bugzilla.mozilla.org/show_bug.cgi?id=1636506

[2020-06-01 11:07] sylvestre opened #6467 "Please remove "opt" when not relevant in the list of platforms"
I understand it is legacy but we should remove it to make life of new contributors easier
(and I am sure it is also confusing for existing developers)

Two examples of confusing messages:
![image](https://user-images.githubusercontent.com/733326/83403262-a1d4e880-a408-11ea-8af9-69276eea9d37.png)
=> Shippable implies opt.

![image](https://user-images.githubusercontent.com/733326/83403306-b5804f00-

[2020-06-01 11:08] sylvestre commented on #6467
@armenzg do you know who could fix  that ?
thanks

[2020-06-01 12:45] armenzg commented on #6467
@camd do you have some pointers as how this can be fixed? I'm a bit of a lose here.

[2020-06-02 14:58] #6304 closed

[2020-06-02 21:37] camd opened #6479 "Improve Push Health UX"
https://bugzilla.mozilla.org/show_bug.cgi?id=1642786

[2020-06-17 11:15] sylvestre opened #6532 "Push Health should preserve the order of the commit"
Here, I did a try job:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=728cf9e9d74ef17b20220c4ca4c2ec74e02aa98f
The order is the following:
![image](https://user-images.githubusercontent.com/733326/84891654-7efb3300-b09c-11ea-9dad-507ff8dda089.png)

In push health, it seems to be in alphabetical order on the commit hash.
https://treeherder.mozilla.org/pushhealth.html?revision=728cf9e9d74ef

[2020-06-17 15:48] camd commented on #6532
Oh wow, yeah.  That's not good!  I'll work on this.

[2020-06-18 06:44] linzichao commented on #6227
Hi @camd, I improve the expand/collapse as following:

![Jun-18-2020 14-40-47](https://user-images.githubusercontent.com/29457750/84986991-09619680-b172-11ea-9255-eaf1057ca72d.gif)

[2020-06-18 07:42] sylvestre commented on #6467
@camd ping ? :)

[2020-06-18 07:43] sylvestre commented on #6467
Someone else was just confused about that on #firefox on slack

[2020-06-18 15:12] camd commented on #6467
@armenzg Here is where we default to "opt" for anything that doesn't have a label:

https://github.com/mozilla/treeherder/blob/d598ad45447ab03c324d88b259417c435a634e83/treeherder/etl/job_loader.py#L191

So we could experiment with either having that be a blank option.  Or maybe set it to the text of "none" if having it blank causes problems with hashing for some reason.  Then in the UI, if we see

[2020-06-18 15:14] sylvestre commented on #6467
Thanks @camd ! :)

[2020-06-18 15:25] camd commented on #6467
Absolutely.  :)  @armenzg: Were you going to take on doing this work?  Or would you rather I do it?

[2020-06-18 15:34] camd commented on #6227
@linzichao : Hello, and thank you for your interest in this issue.  We are actually in the middle of a UX rework in this area, so the expanding/collapsing will no longer work this way.

I am sorry you spent time on this issue.  I would recommend only working on issues if they have been assigned to you.  Much of the UI work in this project is being handled by a GSoC intern at the moment.

If other

[2020-06-18 15:34] #6227 closed

[2020-06-25 07:25] tarekziade opened #6555 "improved UI for subtests in perfherder"
Right now it takes a lot of digging to find then display subtests data on perfherder. I think they should just be there by default, and the user can remove them if they don't want them.

subtests should be displayed by default:

- alongside the main value in the treeherder Performance tab
- in the graph displayed when we click on the link in the Performance tab (one single link for all values)

[2020-06-25 08:16] ionutgoldan commented on #6555
This looks like a duplicate of [bug 1316590](https://bugzilla.mozilla.org/show_bug.cgi?id=1316590).

[2020-06-25 08:53] tarekziade commented on #6555
Another thing that could be done maybe (for the use case where you just clicked on the link in treeherder for a single test)
 is add a button called "Add subtests" and prefill the "Add test data" form with the right project/repo/etc so the subtests are displayed directly and it's clearer where to click?

[2020-06-30 04:17] Rudresh22 commented on #6234
Hello, can I work on this issue?

[2020-06-30 04:29] worldomonation opened #6563 "Add button to copy task label"
Add the ability to copy task label, similar to the task ID.

[2020-06-30 07:38] SuyashSalampuria commented on #6234
Hi @Rudresh22  I don't know if we are ready for this change now.
@camd  and @sarah-clements will be able to tell it perfectly
You may look [here](https://codetribute.mozilla.org/projects/treeherder)  for good first issues and also ask about them in the #treeherder channel in the matrix

[2020-06-30 15:32] #6532 closed

[2020-06-30 16:54] worldomonation commented on #6563
https://github.com/mozilla/treeherder/pull/6564

[2020-06-30 17:08] sylvestre commented on #6532
Thanks :)

[2020-07-01 16:24] camd opened #6567 "Add Details Panel to Failures"
https://bugzilla.mozilla.org/show_bug.cgi?id=1647451

[2020-07-01 16:32] camd opened #6568 "MyPushes Landing page to Treeherder/Push Health"
https://bugzilla.mozilla.org/show_bug.cgi?id=1647444

[2020-07-01 16:34] camd opened #6569 "Documentation / Screencasts / Soft Landing"
* Create some documentation
* Link for tests to existing documentation
* Create a soft-landing feature that points new folks to key features

https://bugzilla.mozilla.org/show_bug.cgi?id=1647445

https://bugzilla.mozilla.org/show_bug.cgi?id=1649256

[2020-07-01 16:37] camd opened #6570 "Commits / Progress area"
Bring this into alignment with the UX mockup

https://bugzilla.mozilla.org/show_bug.cgi?id=1647447

[2020-07-01 16:41] camd opened #6571 "Bulk Actions / Mark Investigated"
https://bugzilla.mozilla.org/show_bug.cgi?id=1647458

This feature allows the user to check certain test failures and perform an action on those selected items.

See bug for details

[2020-07-01 17:17] camd opened #6572 "Show passed tests section"
https://bugzilla.mozilla.org/show_bug.cgi?id=1647462

This section will be collapsed by default

I'm wondering if this might be more manageable as a list of passed manifests, as opposed to tests.  This would still be filter-able, but a much shorter list.

[2020-07-01 17:22] camd opened #6573 "Progress Notifications"
https://bugzilla.mozilla.org/show_bug.cgi?id=1649820

Change the favicon when new failures or push completes.
Allow users to enable system notifications for these events, as well.

[2020-07-01 17:24] camd opened #6574 "Test grouping / Layout"
https://bugzilla.mozilla.org/show_bug.cgi?id=1649822

[2020-07-03 16:17] #6563 closed

[2020-07-08 19:04] #6352 closed

[2020-07-10 17:47] #6574 closed

[2020-07-15 19:21] #6570 closed

[2020-07-16 15:27] armenzg opened #6630 "Support filtering tasks by *manifest* (not test path) path from selected task"
(I split up this issue to *only* show manifests/groups of tests instead of test paths since it is a lot more work)

Related bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1636506
UI proving the concept: https://test-paths-for-task.netlify.app

The following mock-up allows the developers/sheriffs to see what manifests and test paths executed for a given task. Each listed manifest/test path is a

[2020-07-16 15:28] armenzg commented on #6630
I already have a prototype
https://test-paths-for-task.netlify.app/

[2020-07-20 18:25] camd opened #6646 "Create centralized list of jobs that can be referenced throughout"
https://bugzilla.mozilla.org/show_bug.cgi?id=1654043

[2020-07-21 15:15] #6630 closed

[2020-07-23 15:19] #6229 closed

[2020-07-31 19:31] #6452 closed

[2020-08-02 07:01] jhabarsingh commented on #6573
can you assign this to me ?

[2020-08-02 11:25] SuyashSalampuria commented on #6573
Hi @jhabarsingh , I don't think we are yet ready to solve this currently
However, camd will answer it correctly
You can look for other issues here
https://codetribute.mozilla.org/projects/treeherder

[2020-08-02 11:42] jhabarsingh commented on #6573
@SuyashSalampuria  thanks for this link.

[2020-08-05 15:58] #6646 closed

[2020-08-07 17:12] gmierz opened #6696 "Treeherder Fenix branch is not showing Browsertime tests in the view"
On the Fenix branch in treeherder, our browsertime tests are no longer showing up in the view even though they did run. It seems to have started around July 29th: https://treeherder.mozilla.org/#/jobs?repo=fenix&group_state=expanded&resultStatus=testfailed%2Cbusted%2Cexception%2Csuccess%2Cusercancel%2Crunning%2Cpending%2Crunnable&fromchange=e2e684b4d452378cf07c70b00f921afe9b5b687a&searchStr=browse

[2020-08-08 00:55] #6696 closed

[2020-08-19 16:21] armenzg opened #6722 "Pulse: Docker shared user"
Hi @camd @sarah-clements
There's a [Pulse user](https://github.com/mozilla/treeherder/blob/d025e5851d47c8fd7efad280d2c17f217c2a9548/docker-compose.yml#L104) that is part of the Docker set up. This is to make the development process easier and remove the need to create a user.

When I created this user in Pulse Guardian, I did not share it with you because I wanted to make sure that there was no no

[2020-08-26 14:05] carrycooldude commented on #6722
I want to work on this @armenzg

[2020-08-26 18:00] sarah-clements commented on #6722
This is not a good bug for contributors to work on. You can find some bugs to work on in https://bugzilla.mozilla.org. Look for bugs with the tag "good first bug" and ask if you can work on the bug.

[2020-08-26 18:10] sarah-clements commented on #6722
FYI @camd I've taken care of this.

[2020-08-26 18:10] #6722 closed

[2020-09-02 07:58] paridhi7 commented on #6247
Hi @camd @sarah-clements I'm new to Open Source and would like to contribute. Can you please guide me with how to get started on this issue?

[2020-09-02 16:35] #6226 closed

[2020-09-08 18:09] sarah-clements commented on #6247
Hi @paridhi7, I think camd can you give you a better idea of the requirements for this bug but you'll first need to start by reading through our docs. Please read through the entire development section, which also includes important sections on code style and accessibility: https://treeherder.readthedocs.io/index.html
Note: You only need to use `Yarn` for this task, not `docker`.

If anything is u

[2020-09-12 17:21] rishishounak commented on #6247
If this issue is open i would like to join in i am new and could use some guidance

[2020-09-15 17:52] sarah-clements commented on #6247
@paridhi7 Confirming you'll be working on this? Please let me know so I can assign it to someone else.

[2020-09-16 18:50] sarah-clements opened #6765 "Expand Push Health usage metrics"
This should be done before the soft landing/big announcement.

https://bugzilla.mozilla.org/show_bug.cgi?id=1665450

[2020-09-17 05:16] rishishounak commented on #6247
If no one is working on this then could I try

[2020-09-17 05:30] paridhi7 commented on #6247
@sarah-clements you can assign it to someone else.

[2020-09-17 08:59] SuyashSalampuria commented on #6247
@rishishounak Feel free to work on this :)

[2020-09-17 18:13] SuyashSalampuria opened #6766 "Add appropriate title to the revision links in push health"
In push health, we show the shortened revision hashes.
Add appropriate title to them so that we get appropriate directions on hovering on them.

[2020-09-18 18:43] Nikhil1O1 commented on #6247
take

[2020-09-18 18:45] Nikhil1O1 commented on #6247
take

[2020-09-18 18:48] Nikhil1O1 commented on #6247
take

[2020-09-18 18:52] Nikhil1O1 commented on #6247
@camd please assign it to me...
I'm willing to take this one

[2020-09-18 19:07] Nikhil1O1 commented on #6247
okay I get it...
"it's assigned to the first patch automatically"  :p
so where's the code located?
I mean how should i begin?
@camd

[2020-09-18 21:28] sarah-clements commented on #6247
You need to follow the instructions in this comment: https://github.com/mozilla/treeherder/issues/6247#issuecomment-689047495 to get set up. You can start looking at the code for `ui/push-health` in this repo once you've forked it and have your development environment set up. Cam can then give you guidance.

[2020-09-25 03:46] dependabot-preview[bot] opened #6777 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/mozilla) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/mozilla/update-logs/48551878).

[2020-09-25 13:29] #6777 closed

[2020-09-27 20:14] radioactive11 commented on #6247
Hello @sarah-clements , I am new to open source and interested to work on this issue. Can you help me get started. Also @Nikhil1O1 if you ever want to pass on this issue, I'll take it up.

[2020-09-27 22:10] Nikhil1O1 commented on #6247
My environment setup is nearly done. So I will be try to fix this one. However if I'm unable to do so, Then you may take this one

[2020-09-28 14:31] Nikhil1O1 commented on #6247
@sarah-clements  @camd My environment setup is complete, Now about modifying push health to make it better-suited for colour blindness or high contrast mode, Could you give me more details on exactly which file I have to look for the code,
I'm new here and have certainly 0 idea of your codebase

[2020-09-28 14:41] Nikhil1O1 commented on #6247
Moreover, I know that most colour blind people have difficulty in distinguishing Red-Green and Blue-Yellow colour. In the push health, we are actively using Blue and Green I recommend changing it to Black/Pink/White/Red as they will be a viable option.
What do you say?
@camd @sarah-clements

[2020-09-28 17:23] sarah-clements commented on #6247
@Nikhil1O1 I think red and green are the primary issues, in how they are used in combination to convey good or negative results. Please take a look at our docs, as we've had an intern already do quite a bit of research and work in this area: https://treeherder.readthedocs.io/accessibility.html#accessibility

Looking at the bugzilla bug which was filed 6 months ago, I think this issue has likely be

[2020-09-28 17:33] Nikhil1O1 commented on #6247
@sarah-clements  I see, Do let me know if there's anything else I can assist you with.

[2020-10-04 20:25] Nikhil1O1 commented on #6225
This looks like an easy one, One just has to update links in the phabricator... Is it?
Can  I take this one @camd

[2020-10-14 06:36] Sparsh-Bansal opened #6803 "Change django.conf.urls.url() to django.urls.re_path()"
The old `django.conf.urls.url()` function is replaced with new `django.urls.re_path()` function for routing .
This would help : https://docs.djangoproject.com/en/3.1/ref/urls/#url

The `django.conf.urls.url()` function from previous versions is now available as `django.urls.re_path()`. The old location remains for backwards compatibility, without an imminent deprecation.

For `Django >= 3.x`, `dja

[2020-10-17 16:43] #6803 closed

[2020-11-01 09:34] ayushontop commented on #6247
is this issue still open ? If yes can you please assign it to me

[2020-11-01 10:03] Nikhil1O1 commented on #6247
No buddy, it's actually been resolved

[2020-11-02 20:16] #6247 closed

[2020-11-07 15:39] manakwadhwa2002 commented on #6766
Hello @SuyashSalampuria I can do this please assign this to me.

[2020-11-07 19:27] SuyashSalampuria commented on #6766
You may proceed on solving this
There's just one hash which does not have an appropriate title in push health opening page

[2020-11-08 08:35] manakwadhwa2002 commented on #6766
@SuyashSalampuria thank you can you please share the path of that file with me ?

[2020-11-09 02:51] data-sync-user opened #6856 "Finish Push Health/Mozci integration"
The [pr](https://github.com/mozilla/treeherder/pull/6763) (and a lot of troubleshooting) has been completed by :camd but there are a few issues that need to be ironed out (an upstream issue with certain wpt error summary logs missing relevant data) and queries timing out on prototype. I'll work with marco to get these issues resolved before merging.

┆Issue is synchronized with this [Jira Story](h

[2020-11-10 18:32] SuyashSalampuria commented on #6766
https://github.com/mozilla/treeherder/blob/master/ui/push-health/CommitHistory.jsx#L91
This is the place which needs changes

[2020-11-12 07:45] QiAnXinCodeSafe opened #6863 "There is a vulnerability in django 3.0.8,upgrade recommended"
https://github.com/mozilla/treeherder/blob/5529a751801d1808232fb24cc21cc35bf4443e91/requirements/common.txt#L145

CVE-2020-24583 CVE-2020-24584

Recommended upgrade version：3.1.1

[2020-11-13 15:13] ahal opened #6867 "Treeherder's `group_results` API is missing tasks with failing groups"
See this task on this push:
https://treeherder.mozilla.org/jobs?repo=autoland&revision=5cfe11c0659ad92715a8f4eebbda67076b737b70&selectedTaskRun=a0Lw1AH_T9mSnvHxKKKCBg.0

It is not listed in the `group_results` endpoint:
https://treeherder.mozilla.org/api/project/autoland/push/group_results/?revision=5cfe11c0659ad92715a8f4eebbda67076b737b70

I'm not 100% sure that the reason this is missing because

[2020-11-13 15:21] ahal commented on #6867
Actually I think this doesn't block https://github.com/mozilla/mozci/issues/312 after all, since we fall back to downloading group results manually from the errorsummary files. So we can land that other issue, and then once this is fixed mozci will be automagically faster.

[2020-12-01 07:50] pigeonsoar opened #6887 "[BUG] Potential Null Pointer Error"
Hi! I found that treeherder/log_parser/management/commands/crossreference_missing.py maybe contains a null pointer error in line 75.
When the `total_jobs = float(first_processed - min_job_id)`  in line 67 didn't executed (In the if statement in line 65), and then `fraction_complete = float(first_processed - job_id) / total_jobs` will cause a error as `total_jobs` is None.

I don't know if it is a

[2020-12-17 01:37] hwine opened #6923 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-24 01:10] renovate[bot] opened #6936 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-05 15:40] bhearsum commented on #6467
There's also a question about which tasks we should remove `opt` from. Some tasks, like decision/fetch/etc. opt isn't even a collection that makes sense (there's no debug/opt/whatever for them). For these, I think it's pretty clear we should remove it.

For tasks like shippable, they are technically opt, but as @sylvestre said, opt is implied by shippable. For these, I'm less certain. If we consid

[2021-01-05 21:18] bhearsum commented on #6467
With #6931 closed, I think everything on the Treeherder side is done. Any remaining jobs that have an undesired `opt` will need to have it removed from their task definition.

[2021-01-06 00:31] sarah-clements commented on #6923
We've successfully switched to circleCI.

[2021-01-06 00:31] #6923 closed

[2021-01-07 19:49] gmierz opened #6950 "Browsertime tests are missing the "Generate Performance Profile" button"
The Browsertime performance tests are missing the generate performance profile button which should work for them. This bug is for adding the button to it.

[2021-01-13 22:03] armenzg opened #6966 "Solve current pip-tools situation"
@sarah-clements @ahal  (please CC who you see fit) there are some issues on how `pip-tools` was set up.

`pip-tools` recommends not having requirements.txt files and instead generated on the fly if they're needed.
I don't know how this would play out with dependabot. I think dependabot mainly supports `poetry` and `pipenv` as alternatives to `pip`.

I recommend fully moving to `poetry` or remove `

[2021-01-20 20:19] data-sync-user commented on #6220
➤ Ben Hearsum commented:

testing jira sync

[2021-01-20 20:19] data-sync-user commented on #6220
➤ Ben Hearsum commented:

testing jira sync

[2021-01-21 15:06] #6936 closed

[2021-01-21 23:55] data-sync-user commented on #6856
➤ Sarah Clements commented:

The pr ( https://github.com/mozilla/treeherder/pull/6763 ) (and a lot of troubleshooting) has been completed by :camd but there are a few issues that need to be ironed out (an upstream issue with certain wpt error summary logs missing relevant data) and queries timing out on prototype. I'll work with marco to get these issues resolved before merging.

[2021-01-26 20:07] data-sync-user commented on #6856
➤ Sarah Clements commented:

Status is waiting for upstream issues to be resolved so I'm not actively working on it.

[2021-01-27 22:44] sarah-clements commented on #6863
We're on v3.1.4

[2021-01-27 22:44] #6863 closed

[2021-01-27 22:45] #6950 closed

[2021-02-04 01:49] sarah-clements commented on #6966
I think lets move towards poetry. This is not urgent, so if you have time to help that'd be great but if you don't that's ok also. :)

[2021-02-04 22:34] #6479 closed

[2021-02-04 22:34] #6567 closed

[2021-02-04 22:34] #6568 closed

[2021-02-04 22:34] #6569 closed

[2021-02-04 22:34] #6571 closed

[2021-02-04 22:34] #6572 closed

[2021-02-04 22:34] #6573 closed

[2021-02-04 22:34] #6765 closed

[2021-02-04 22:34] #6856 closed

[2021-02-04 22:34] #6766 closed

[2021-02-04 22:35] #6555 closed

[2021-02-04 22:38] #6467 closed

[2021-02-04 22:42] #6244 closed

[2021-02-04 22:42] #6245 closed

[2021-02-04 22:42] #6248 closed

[2021-02-04 22:42] #6254 closed

[2021-02-04 22:42] #6315 closed

[2021-02-04 22:42] #6223 closed

[2021-02-04 22:45] #6220 closed

[2021-02-04 22:45] #6221 closed

[2021-02-04 22:45] #6222 closed

[2021-02-04 22:45] #6230 closed

[2021-02-04 22:45] #6231 closed

[2021-02-04 22:45] #6232 closed

[2021-02-04 22:45] #6233 closed

[2021-02-04 22:45] #6234 closed

[2021-02-04 22:45] #6246 closed

[2021-02-04 22:49] sarah-clements commented on #6867
Going to close this for now, if you see any more issues please file a bug in bugzilla :)

[2021-02-04 22:49] #6867 closed

[2021-02-04 22:53] sarah-clements commented on #6285
Filed this in bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1690912

[2021-02-04 22:53] #6285 closed

[2021-02-04 22:55] sarah-clements commented on #6286
I don't think this is that necessary because you can see in the heroku pipelines that prototype2 should be the same as production and taskluster-staging the same as prototype.

[2021-02-04 22:55] #6286 closed

[2021-02-04 23:03] sarah-clements commented on #6887
Thanks for the filing the bug but that file has been removed.

[2021-02-04 23:03] #6887 closed

[2021-02-04 23:06] #6225 closed

[2021-02-05 00:13] sarah-clements commented on #6966
I'm disabling github issues and going back to Bugzilla as our centralized issue management tool. I've filed a bug to replace this issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1690926

[2021-02-05 00:13] #6966 closed

[2021-02-05 00:25] sarah-clements commented on #6290
Filed a bugzilla bug for this: https://bugzilla.mozilla.org/show_bug.cgi?id=1690928

[2021-02-05 00:25] #6290 closed